<template>
    <div>
        <div class="uk-flex-center uk-grid-small" data-uk-grid>
            <div class="uk-width-2-3@l">
                <div class="uk-flex uk-flex-middle uk-margin-bottom md-bg-blue-grey-600 sc-round sc-padding sc-padding-medium-ends">
                    <span data-uk-icon="icon: cart; ratio: 1.5" class="uk-margin-right md-color-white"></span>
                    <h4 class="md-color-white uk-margin-remove">Redimiendo mis compras</h4>
                </div>

                <div v-if="success !== ''" class="uk-alert-success uk-alert" data-uk-alert="">
                    <a class="uk-alert-close uk-icon uk-close" data-uk-close=""><svg width="14" height="14" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg" data-svg="close-icon"><line fill="none" stroke="#000" stroke-width="1.1" x1="1" y1="1" x2="13" y2="13"></line><line fill="none" stroke="#000" stroke-width="1.1" x1="13" y1="1" x2="1" y2="13"></line></svg></a>
                    {{success}}
                </div>

                <div v-if="errors !== ''" class="uk-alert-icon uk-alert" data-uk-alert="">
                    <a class="uk-alert-close uk-icon uk-close" data-uk-close=""><svg width="14" height="14" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg" data-svg="close-icon"><line fill="none" stroke="#000" stroke-width="1.1" x1="1" y1="1" x2="13" y2="13"></line><line fill="none" stroke="#000" stroke-width="1.1" x1="13" y1="1" x2="1" y2="13"></line></svg></a>
                    <div class="uk-flex uk-flex-middle">
                        <i class="mdi mdi-bullhorn sc-icon-32 uk-margin-right"></i>
                        <div class="uk-alert-content">
                            <h5>Oops.. ¡Detectamos un error en el formulario!</h5>
                            <p>Por favor verifica que todos los datos estén ingresados y sean correctos.</p>
                        </div>
                    </div>
                </div>

                <form @submit.prevent="saveTicket" enctype="multipart/form-data">
                    <fieldset class="uk-fieldset uk-fieldset-alt md-bg-white">
                        <legend class="uk-legend">Nueva compra</legend>
                        <div class="uk-child-width-1-2@m" data-uk-grid>
                            <div>
                                <label class="uk-form-label" for="f-f-monto">Monto Total</label>
                                <input v-model="form.monto" class="uk-input" id="f-f-monto" type="number" data-sc-input step=".01">
                            </div>
                            <div>
                                <label class="uk-form-label" for="f-l-tienda">Tienda</label>
                                <input v-model="form.tienda" class="uk-input" id="f-l-tienda" type="text" data-sc-input>
                            </div>
                        </div>
                        <div data-uk-grid>
                            <div class="uk-width-expand@m">
                                <div data-uk-form-custom="target: true">
                                    <input v-on:change="onImageChange" type="file">
                                    <input v-model="form.nombreImagen" class="uk-input uk-form-width-medium uk-visible" type="text" placeholder="Imagen del ticket (click aquí)" disabled>
                                </div>
                            </div>
                        </div>
                    </fieldset>


                    <div class="uk-margin-large">
                        <button type="submit" class="sc-button sc-button-primary sc-button-large">Confirmar</button>
                        <button @click="formReset()" type="button" class="sc-button sc-button-default sc-button-large sc-button-flat">Cancelar</button>
                    </div>

                    <fieldset class="uk-fieldset uk-fieldset-alt md-bg-white">
                        <legend class="uk-legend">Estado de cuenta</legend>
                        <div class="uk-width-1-1">
                            <div class="uk-overflow-auto">
                                <table class="uk-table uk-table-striped uk-table-small uk-table-middle">
                                    <thead>
                                    <tr>
                                        <th class="uk-table-shrink">Imagen</th>
                                        <th>Detalles</th>
                                        <th class="uk-table-shrink uk-text-center">Total</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="ticket in tickets" :key="ticket.id">
                                        <td><a :href="ticket.img" target="_blank"><img data-src="holder.js/32x32?theme=thumb&amp;bg=007bff&amp;fg=007bff&amp;size=1" alt="32x32" class="mr-2 rounded" style="width: 32px; height: 32px;" :src="ticket.img" data-holder-rendered="true"></a></td>
                                        <td class="uk-text-nowrap">
                                            <a href="#">{{ticket.tienda}}</a>
                                            <p class="sc-color-secondary uk-margin-remove">{{ ticket.created_at.substring(0, 22) }}</p>
                                        </td>
                                        <td class="uk-text-right">${{ticket.monto}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.');
            axios.get('/api/user').then((res)=>{
                this.user = res.data
            })
            this.getTickets();
        },

        data() {
            return{
                user: null,
                success: '',
                errors: '',
                form: new Form({
                    monto: '',
                    tienda: '',
                    img: '',
                    nombreImagen: '',
                }),
                tickets: '',
            }
        },

        methods: {
            onImageChange(e){
                console.log(e.target.files[0]);
                this.img = e.target.files[0];
            },

            getTickets() {
                axios.get('/api/tickets').then((res) => {
                    this.tickets = res.data
                }).catch((error) => {
                    console.log(error);
                });
            },

            saveTicket() {
                let currentObj = this;
                const config = {
                    headers: { 'content-type': 'multipart/form-data' }
                };

                let data = new FormData();
                data.append('monto', this.form.monto);
                data.append('tienda', this.form.tienda);
                data.append('img', this.img);

                axios.post('/api/tickets', data, config)
                    .then(function (response) {
                        currentObj.form.reset();
                        currentObj.getTickets();
                        currentObj.success = response.data.success;
                        console.log(response);
                    })
                    .catch(function (error) {
                        currentObj.output = error;
                        currentObj.errors = error;
                    });
            },

            formReset() {
                let currentObj = this;
                currentObj.form.reset();
            }
        },
    }
</script>
