<template>
    <div class="uk-card">
        <h3 class="uk-card-title">Redimiendo mis compras</h3>
        <div class="uk-card-body">
            <h4>Requerimientos:</h4>

            <div class="uk-margin">
                <ul>
                    <li>Elaborar un sistema llamado “Redimiendo mis compras” para la empresa X, que permita a un usuario registrarse a la plataforma e iniciar sesión con usuario y contraseña en caso de que haya cerrado su sesión.</li>
                    <li>El registro debe contar con nombre, teléfono, fecha de nacimiento, usuario, contraseña, acepto términos y condiciones, acepto aviso de privacidad; estos últimos dos con el acceso a poder consultarlos (Lorem ipsum).</li>Una vez dentro del sistema, que le permita capturar sus tickets de compra (el monto total de la compra, el nombre de la tienda donde la realizo y por último que le permita subir la imagen del ticket),
                    <li>Debe permitir al usuario poder consultar el listado de tickets ya registrados (Estado de cuenta).</li>
                    <li>Debe permitirle ver términos y condiciones una ves que este dentro de la plataforma.</li>
                    <li>Este sistema debe estar orientado a un back end y a un front end comunicado a través de web services REST, con seguridad basada en tokens de autenticación.</li>
                </ul>
            </div>

            <em class="md-color-black">
                Nota: No hay un template o diseño base, siéntete libre de innovar y establecer tu propio diseño.
            </em>

            <div class="uk-margin">
                <p>
                    Lenguajes / frameworks por utilizar en front end (Requeridos).
                </p>
                <ul>
                    <li>HTML</li>
                    <li>CSS / Bootstrap</li>
                    <li>JS / Jquery</li>
                </ul>
            </div>

            <div class="uk-margin">
                <p>Lenguajes / frameworks por utilizar en front end (Requeridos al menos uno de ellos).</p>

                <ul>
                    <li>Vue JS</li>
                    <li>Ionic</li>
                    <li>AngularJS</li>
                </ul>
            </div>

            <div class="uk-margin">
                <p>
                    Lenguajes / frameworks por utilizar en back end (Requerido).
                </p>
                <ul>
                    <li>Laravel / PHP</li>
                </ul>
            </div>

            <div class="uk-margin">
                <p>
                    Base de datos
                </p>
                <ul>
                    <li>MySql (BD)</li>
                </ul>
            </div>

            <div class="uk-margin">
                <p>
                    Tiempo estimado
                </p>
                <ul>
                    <li>24 hrs.</li>
                </ul>
            </div>

            <div class="uk-margin">
                <p>
                    Puntos por considerar
                </p>
                <ul>
                    <li>Seguridad del sistema.</li>
                    <li>Considerar patrón Modelo-Vista-Controlador.</li>
                    <li>Codificación orientada a objetos.</li>
                    <li>Sintaxis CamelCase.</li>
                    <li>Look and Feel de la aplicación.</li>
                    <li>Funcionalidad del sistema.</li>
                    <li>Estructura y código formateado.</li>
                    <li>Desarrollo Front end responsivo.</li>
                    <li>Desarrollo Back end.</li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
    export default {

    }
</script>
