<template>
    <div>
        <div class="uk-flex uk-flex-center uk-flex-middle sc-login-page-wrapper">
            <div class="uk-width-2-3@s uk-width-1-2@m uk-width-1-3@l uk-width-1-4@xl">
                <div class="uk-card">
                    <div class="uk-card-body">
                        <div class="sc-login-page-logo">
                            <h4>Iniciar Sesión</h4>
                        </div>
                        <div id="sc-login-form" class="sc-toggle-login-register sc-toggle-login-password">
                            <div class="sc-login-page-inner">
                                <div class="uk-margin-medium">
                                    <label for="sc-login-username">Email</label>
                                    <input id="sc-login-username" type="text" class="uk-input" data-sc-input name="email" v-model="form.email">
                                </div>
                                <div class="uk-margin-medium">
                                    <label for="sc-login-password">Password</label>
                                    <input id="sc-login-password" type="password" class="uk-input" data-sc-input name="password" v-model="form.password">
                                </div>
                                <div class="uk-margin-large-top">
                                    <button @click.prevent="loginUser" type="submit" class="sc-button sc-button-large sc-button-block sc-button-primary">Iniciar Sesión</button>
                                    <div class="uk-margin-large-top uk-text-center">
                                        <span class="sc-color-secondary">¿Aún no tienes cuenta?</span>
                                        <router-link class="sc-text-semibold" to="/register">
                                            Regístrate
                                        </router-link>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return{
                form:{
                    email: '',
                    password: ''
                },
                errors: []
            }
        },
        methods:{
            loginUser(){
                axios.post('/api/login', this.form).then(() =>{
                    location.reload();
                    this.$router.push({ name: "Dashboard"});
                }).catch((error) =>{
                    this.errors = error.response.data.errors;
                    alert(JSON.stringify(this.errors));
                })
            }
        }
    }
</script>
