<template>
    <div>
        <h1 class="sc-error-title sc-padding-large">
            <i class="mdi mdi-alert-outline"></i>
            ERROR 404
        </h1>
        <div class="sc-padding-large">
            <p>La liga que solicitó: <code>{{ $router.history.current.path }}</code> no fue encontrada.</p>
            <a href="#" onclick="history.go(-1);return false;">Ir a la última ubicación</a>
        </div>
    </div>
</template>

<script>
    export default {

    }
</script>
