<template>
    <div>
        <div class="uk-flex uk-flex-center uk-flex-middle sc-login-page-wrapper">
            <div class="uk-width-2-3@s uk-width-1-2@m uk-width-1-3@l uk-width-1-4@xl">
                <div class="uk-card">
                    <div class="uk-card-body">
                        <div class="sc-login-page-logo">
                            <h4>Registro</h4>
                        </div>
                        <div id="sc-register-form" class="sc-toggle-login-register">
                            <div class="sc-login-page-inner">
                                <div class="uk-margin-medium">
                                    <label for="sc-register-name">Nombre</label>
                                    <input id="sc-register-name" type="text" class="uk-input" data-sc-input name="name" v-model="form.name">
                                </div>
                                <div class="uk-margin-medium">
                                    <label for="sc-register-username">Usuario</label>
                                    <input id="sc-register-username" type="text" class="uk-input" data-sc-input name="username" v-model="form.username">
                                </div>
                                <div class="uk-margin-medium">
                                    <label for="sc-register-movil">Teléfono</label>
                                    <input id="sc-register-movil" type="text" class="uk-input" data-sc-input name="movil" v-model="form.movil">
                                </div>
                                <div class="uk-margin-medium">
                                    <label for="sc-register-birthday">Fecha de Nacimiento</label>
                                    <input id="sc-register-birthday" type="date" class="uk-input" data-sc-input name="birthday" v-model="form.birthday">
                                </div>
                                <div class="uk-margin-medium">
                                    <label for="sc-register-email">Email</label>
                                    <input id="sc-register-email" type="text" class="uk-input" data-sc-input name="email" v-model="form.email">
                                </div>
                                <div class="uk-margin-medium">
                                    <label for="sc-register-password">Contraseña</label>
                                    <input id="sc-register-password" type="password" class="uk-input" data-sc-input name="password" v-model="form.password">
                                </div>
                                <div class="uk-margin-medium">
                                    <label for="sc-register-password-repeat">Repetir contraseña</label>
                                    <input id="sc-register-password-repeat" type="password" class="uk-input" data-sc-input name="password_confirmation" v-model="form.password_confirmation">
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-6 offset-md-4">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="terminos" id="terminos" checked v-model="form.terminos">

                                            <label class="form-check-label" for="terminos">
                                                Acepto los  <router-link to="/terminos-y-condiciones">Términos y condiciones</router-link>
                                            </label>
                                        </div>

                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="privacidad" id="privacidad" checked v-model="form.privacidad">

                                            <label class="form-check-label" for="privacidad">
                                                Acepto el  <router-link to="/politicas-de-privacidad">Aviso de privacidad</router-link>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-margin-large-top">
                                    <button @click.prevent="saveForm" type="submit" class="sc-button sc-button-large sc-button-block sc-button-primary">Registrarme</button>
                                    <div class="uk-margin-large-top uk-text-center">
                                        <span class="sc-color-secondary">¿Ya tienes cuenta?</span>
                                        <router-link class="sc-text-semibold" to="/register">
                                            Inicia Sesión
                                        </router-link>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return{
                form:{
                    name: '',
                    username: '',
                    movil: '',
                    birthday: '',
                    email: '',
                    password:'',
                    terminos: 1,
                    privacidad: 1,
                    password_confirmation:''
                },
                errors:[]
            }
        },
        methods:{
            saveForm(){
                axios.post('/api/register', this.form).then(() =>{
                    console.log('saved');
                    location.reload();
                    this.$router.push({ name: "Dashboard"});
                }).catch((error) =>{
                    this.errors = error.response.data.errors;
                    alert(JSON.stringify(this.errors));
                })
            }
        }
    }
</script>
