<template>
    <div>
        <div v-if="success !== ''" class="alert alert-success" role="alert">
            {{success}}
        </div>
        <form @submit.prevent="saveTicket" enctype="multipart/form-data">
            <div class="form-row align-items-center">
                <div class="col-auto">
                    <label class="sr-only" for="inlineFormInputGroup">Monto Total</label>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">$</div>
                        </div>
                        <input v-model="form.monto" type="number" class="form-control" id="inlineFormInputGroup" placeholder="Monto Total" step=".01">
                    </div>
                </div>

                <div class="col-auto">
                    <label class="sr-only" for="inlineFormInput">Tienda</label>
                    <input v-model="form.tienda" type="text" class="form-control mb-2" id="inlineFormInput" placeholder="Tienda">
                </div>

                <div class="col-auto">
                    <div class="custom-file">
                        <input  v-on:change="onImageChange" type="file" class="custom-file-input" id="customFile">
                        <label class="custom-file-label" for="customFile">Elegir imagen</label>
                    </div>
                </div>
            </div>

            <div class="py-4">
                <button type="submit" class="btn btn-primary mb-2">Guardar</button>
            </div>
        </form>

        <div>
            <div class="my-3 p-3 bg-white rounded box-shadow">
                <h6 class="border-bottom border-gray pb-2 mb-0">Estado de cuenta</h6>

                <div v-for="ticket in tickets" :key="ticket.id">
                    <div class="media text-muted pt-3">
                        <a :href="ticket.img" target="_blank"><img data-src="holder.js/32x32?theme=thumb&amp;bg=007bff&amp;fg=007bff&amp;size=1" alt="32x32" class="mr-2 rounded" style="width: 32px; height: 32px;" :src="ticket.img" data-holder-rendered="true"></a>
                        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                            <strong class="d-block text-gray-dark">{{ticket.tienda}}</strong>
                            ${{ticket.monto}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.');
            this.getTickets();
        },

        data() {
            return{
                success: '',
                form: new Form({
                    monto: '',
                    tienda: '',
                    img: '',
                }),
                tickets: '',
            }
        },

        methods: {
            onImageChange(e){
                console.log(e.target.files[0]);
                this.img = e.target.files[0];
            },

            getTickets() {
                axios.get('/api/tickets').then((res) => {
                    this.tickets = res.data
                }).catch((error) => {
                    console.log(error);
                });
            },

            saveTicket() {
                let currentObj = this;
                const config = {
                    headers: { 'content-type': 'multipart/form-data' }
                };

                let data = new FormData();
                data.append('monto', this.form.monto);
                data.append('tienda', this.form.tienda);
                data.append('img', this.img);

                axios.post('/api/tickets', data, config)
                    .then(function (response) {
                        currentObj.form.reset();
                        currentObj.getTickets();
                        currentObj.success = response.data.success;
                        console.log(response);
                    })
                    .catch(function (error) {
                        currentObj.output = error;
                    });
            },
        },
    }
</script>
